.content-privacy{
    width: 100%;
    min-height: 100vh;   /* ocupa al menos toda la pantalla */
    margin-top: 2%;
    padding: 60px 20px;
}

.privacy{
    margin: 0 auto;
    max-width: 900px;
    width: 100%;
}

.privacy h3{
    text-align: center;
}

.privacy p{
    line-height: 1.6;
    margin-bottom: 12px;
    text-align: justify;
  }
  
  .privacy strong{
    font-weight: 700;
  }

  /* ================= ANIMACION PRIVACY ================= */

.privacy {
    margin: 0 auto;
    max-width: 900px;
    width: 100%;

    /* animación */
    opacity: 0;
    transform: translateY(30px);
    animation: fadeUpPrivacy 1.2s ease forwards;
}

@keyframes fadeUpPrivacy {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}