/* --- Tu CSS actual --- */
.container-blackout {
  width: 100%;
  height: auto;
  position: relative;
  margin-top: -130px;
}

.banner-blackout {
  width: 100%;
  height: 700px;
}

.title-blackout {
  width: 100%;
  height: auto;     
  margin-top: 20px;
  font-size: x-large;
  padding: 30px;
  box-sizing: border-box;
}

.title-blackout p {
  margin-top: 20px;
  width: 60%;
  font-size: 32px;
  font-weight: normal;
  margin-right: auto; 
}

.title-blackout::after {
  margin-top: 6%;
  content: "";
  display: block;
  width: 100%;       
  height: 2px;      
  background-color: #ccc;
  margin: 40px 5 0 auto; 
}

.content-blackout {
  width: 100%;
  height: 400px;
  margin-top: 5%;
  display: flex;
  justify-content: center;
  gap: 5px;
}

.explorer-title h1 {
  margin-top: 4%;
  font-size: 42px;
  text-align: center;
}

.content-explorer.reverse {
  flex-direction: row-reverse;
}

.content-explorer {
  width: 100%;
  height: 550px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: stretch;
  padding: 20px;
  gap: 20px; 
  margin-top: 4%;
}

.explorer {
  width: 40%;
  height: 100%;
}

.explorer p {
  margin-top: 20px;
  max-width: 90%;      
  font-size: 32px;
  font-weight: normal;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
  text-align: center;     
  line-height: 1.4;     
}

.explorer-imagen {
  width: 60%;
  height: 100%;
  background-size: cover;
  background-position: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  animation: zoomIn 5s ease-out;
}



@keyframes zoomIn {
  0% {
    transform: scale(0.50);
    filter: brightness(0.5);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    filter: brightness(1);
    opacity: 1;
  }
}

/* --- Media Queries Responsivo agregadas --- */
@media (max-width: 1200px) {
  .title-blackout p {
    width: 80%;
    font-size: 28px;
  }
  .explorer p {
    font-size: 28px;
  }
}

@media (max-width: 900px) {
  .banner-blackout {
    height: 50vh;
  }
  .content-explorer {
    flex-direction: column;
  }
  .content-explorer.reverse {
    flex-direction: column;
  }
  .explorer, .explorer-imagen {
    width: 100%;
    height: auto;
    min-height: 250px;
  }
  .explorer p {
    font-size: 24px;
    margin-top: 10%;
  }
}

@media (max-width: 600px) {
  .title-blackout p {
    width: 90%;
    font-size: 20px;
  }
  .explorer p {
    font-size: 20px;
  }
  .explorer-title h1 {
    font-size: 32px;
  }
}
