
/* CONTENEDOR PRINCIPAL */

.content-form{
    width: 100%;
    min-height: 500px; 
    margin-top: 5%;
    padding: 60px 20px;
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 50px;
    flex-wrap: wrap; 
}

/* PANEL IZQUIERDO (SIN CAMBIOS) */


.form-description{
    flex: 1;
    min-width: 300px;
    max-width: 500px;
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    display: flex;               
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.contact,
.Direccion,
.shipment,
.schedule{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border-radius: 20px;
    cursor: pointer;
}


/* PANEL DERECHO (FORMULARIO) */


.form{
    flex: 1;
    min-width: 300px;
    max-width: 500px;
    padding: 40px 30px;
    border-radius: 20px;
    background: white;
    box-shadow: 0 8px 25px rgba(0,0,0,0.08);
}

.form h3{
    text-align: center;
    margin-bottom: 25px;
    font-size: 22px;
}

.form label{
    display: block;
    margin-bottom: 15px;
    font-weight: 500;
}

/* Inputs desktop */
.input-group{
    display: flex;
    gap: 20px;
    margin-bottom: 25px;
}

.input-group input{
    flex: 1;
    height: 50px;
    text-align: center;
    border-radius: 12px;
    border: 1px solid #ddd;
    outline: none;
    font-size: 16px;
    padding: 10px;
    transition: border 0.2s ease;
}

.input-group input:focus{
    border: 1px solid black;
}

/* RESULTADOS */


.result{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.result p{
    font-size: 15px;
    display: flex;
    justify-content: space-between;
}

.result small{
    margin-top: 15px;
    color: gray;
    text-align: center;
}


/* RESPONSIVE */

@media (max-width: 768px){

    .content-form{
        flex-direction: column;
        align-items: center;
        padding: 40px 15px;
    }

    .form-description,
    .form{
        width: 100%;
        max-width: 420px;
        margin: 0 auto;
    }

   
    .input-group{
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .input-group input{
        width: 85%;        
        padding: 18px;    
        font-size: 17px;
    }

    .result p{
        flex-direction: column;
        gap: 6px;
        text-align: center;
    }
}
