.comercial-body {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
  
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
  
    gap: 20px;
  }
  
  .text-tiltle {
    text-align: center;
  }
  
  .body-one {
    width: calc(50% - 10px); /* 👈 2 columnas */
    max-width: 500px;
  
    padding: 18px;
    margin-top: 10px;
  
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 8px;
  
    cursor: pointer;
  }
  
  .body-one h1 {
    font-size: 20px;
    margin: 0;
    margin-bottom: 10px;
    color: #333;
  }
  
  .body-one p {
    font-size: 15px;
    margin: 0;
    color: #666;
    line-height: 1.6;
  }
  .icon {
    font-size: 32px;
    color: balck;
    margin-bottom: 10px;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* 📱 Tablet */
  @media (max-width: 900px) {
    .body-one {
      width: 100%;
    }
  }
  
  /* 📱 Mobile */
  @media (max-width: 600px) {
    .comercial-body {
      flex-direction: column;
      align-items: center;
    }
  
    .body-one {
      width: 100%;
    }
  
    .body-one h1 {
      font-size: 18px;
    }
  
    .body-one p {
      font-size: 14px;
    }
  }